#TMDB-Logo{
    width: 90px;
}

.description{
    text-align: justify;
}

.star{
    width: 9%;
    fill: white; 
    stroke: grey; 
    stroke-width: 3;
    cursor: pointer;
}

.stars{
    display: flex;
    justify-content: center;
}

.small-rating-star{
    width: 1.1em;
    fill: #FFD700; 
    stroke: grey; 
    stroke-width: 1;
}